.autocomplete-wrapper {
  position: relative;
  width: 100%;
}

#autocomplete-results {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #fff;
  border: 1px solid #ccc;
  z-index: 9999;
}

.autocomplete-item {
  display: block;
  width: 100%;
  text-align: left;
  padding: 10px;
  background: white;
  border: none;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

.autocomplete-item:hover {
  background: #f2f2f2;
}
